@import 'fonts';
@import 'vars';
@import 'global';

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    a{
        color: $color-text;
    }
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
        margin-right: 5px;
    }
    span:hover{
        text-decoration: underline;
    }
    
}
.header__btn{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-login:hover{
    background-color: #74a33e;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__btn-register:hover{
    background-color: #bd3e30;
}
.header__menu{
    background-color: $bg;
    
}
.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.menu__list-link{
    color: white;
}
.menu__list-link:hover{
    text-decoration: underline;
}
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding: 155px 0 100px;
    color: white;
    text-align: center;
    &-title{
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        form{
            display: flex;
        }
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &:focus{
                border: 2px solid $color-text;
            }
            &::placeholder{
                color: #90a4ae;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 15px;
            top: 15px;
        }
        button:hover{
            cursor: pointer;
        }
    }
}