@import 'fonts';
@import 'vars';
@import 'global';

// start header
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    a {
        color: $color-text;
    }

    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
        margin-right: 5px;
    }

    span:hover {
        text-decoration: underline;
    }

}

.header__btn {
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-login:hover {
    background-color: #74a33e;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__btn-register:hover {
    background-color: #bd3e30;
}

.header__menu {
    background-color: $bg;

}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu__list-link {
    color: white;
}

.menu__list-link:hover {
    text-decoration: underline;
}

// end header
// start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search__inner {
    padding: 155px 0 100px;
    color: white;
    text-align: center;

    &-title {
        margin-bottom: 28px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        form {
            display: flex;
        }

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;

            &:focus {
                border: 2px solid $color-text;
            }

            &::placeholder {
                color: #90a4ae;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 15px;
            top: 15px;
        }

        button:hover {
            cursor: pointer;
        }
    }
}

// end search
// start products
.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: white;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    margin-bottom: 30px;
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: cover;

    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        font-size: 18px;
        color: $bg;
        display: block;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 70px;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;

        span {
            @include f500;
            font-size: 14px;
            color: $color-text;
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 14px;
            background-size: cover;
        }

    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        background-color: #fff;
        padding: 20px 30px;
        cursor: pointer;
        color: $bg;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
// start product-slider
.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin: 0 4px;
            cursor: pointer;

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 15px;
                height: 15px;

            }

            &.slick-active {
                button {
                    background-color: $green
                }
            }
        }
    }
}

// end product-slider
// start advantages
.advantages {
    background-color: $bg;
    padding: 110px 0;

    &__title {
        color: #fff;
    }
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
        .advantages__item-images {
            background-color: $green;

            svg {
                g {
                    fill: #fff;
                }
            }
        }

        .advantages__item-title {
            color: $green;
        }
    }

    &-images {
        width: 144px;
        height: 144px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;

    }

    &-title {
        margin-bottom: 25px;
        @include f500;
        font-size: 24px;
        color: #fff;
        transition: all .5s;


    }

    &-text {
        color: #b0bec5;
        font-size: 15px;
    }
}

// end advantages
// start author
.author {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;

    &__box {
        max-width: 660px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 270px;
        span {
            @include f700;

        }
    }

    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        color: $bg;
        &:hover{
            background-color: #c9c8c8;
        }
    }
}
// end author
// start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;

    }
    &__item{
        max-width: 370px;
        width: 100%;
        background-color: #f8f8f8;
        &:hover{
            background-color: #d1d1d1;
        }
        &-images{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 270px;
        }
        &-title{
            @include f700;
            font-size: 24px;
            text-align: center;
            padding: 30px 10px;
            color: $bg;
            
        }
    }
}
// end tutorial